<h1 class="text-center text-5xl text-gray-800 py-16">Home</h1>

<p class="text-center text-gray-800 text-3xl font-semibold">PIA Programacion Web</p>

<div class="text-center w-full my-16">
  
  

</div>
