<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CRUD Node.js</title>
    
    <!-- Tailwind CSS Link -->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">

    <!-- Fontawesome Link -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">

    <!--Fuentes de google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bayon&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    
  </head>
  <body style="background-color: #ffee87;">

    <nav class="flex py-5  text-white px-24" style="background-color: #ff7824;">
      <div class="w-1/2 px-30 mr-auto">
        <p class="text-4xl font-bold" style="font-family: 'Bayon', sans-serif;">HERRAMIENTAS DE ESTUDIO</p>
      </div>

      <ul class="w-1/2 px-10 ml-auto flex justify-end pt-1">
        <li class="nav-item px-2">
          <a href="/tasks" class="nav-link font-semibold border-4 border-white hover:text-gray-700
            hover:bg-white py-3 px-10 rounded-md"  style="font-family: 'Montserrat', sans-serif;" >MIS_TAREAS</a>
        </li>

        <li class="nav-item px-2">
          <a href="/create" class="nav-link font-semibold border-4 border-white hover:text-gray-700 
            hover:bg-white py-3 px-4 rounded-md" style="font-family: 'Montserrat', sans-serif;">AGREGAR_TAREA</a>
        </li>
        
        <li class="nav-item px-2">
          <a href="/calc" class="nav-link font-semibold border-4 border-white hover:text-gray-700 
            hover:bg-white py-3 px-4 rounded-md" style="font-family: 'Montserrat', sans-serif;">CALCULADORA</a>
        </li>

        <li class="nav-item px-">
          <a href="/home" class="nav-link font-semibold border-4 border-white hover:text-gray-700 
            hover:bg-white py-3 px-4 rounded-md" style="font-family: 'Montserrat', sans-serif;">INICIO</a>
        </li>
        
      </ul>
    </nav>
    <!-- Document body -->

    {{{body}}}




  </body>
</html>